.nav_bar{
    width: 90%;
    height: auto;
    padding: .6rem 2rem;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(90, 90, 90);
    background-color: rgba(255, 255, 255, 0.85);
}

.texto_h1,.texto_h5{
    color: rgb(26, 26, 26);
}
.nav_logo{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: .5rem;
}
.logo_img{
    width: 50px;
    aspect-ratio: 1/1;
}

.nav_boton{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.boton_unete{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 30px;
    background-color: rgb(255, 109, 5);
    transition: all 1s;

    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
}


@media (max-width: 600px) {
    .nav_bar{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 5px 0;
        border-radius: 0px;
        flex-flow: column wrap;
        gap: 5px 0;
    }

    .texto_h1,.texto_h5{
        color: rgb(26, 26, 26);
    }
    .nav_logo{
        width: 100%;
        padding: 0;
        justify-content: center;
        gap: 1rem;
    }
    .logo_img{
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 0;
    }
    .nav_texto_h1{
        font-size: 20px;
    }
    .nav_texto_h5{
        font-size: 14px;
        font-weight: 400;
    }

    .nav_boton{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;

    }

    .boton_unete{
        width: 100px;
        height: auto;
        padding: 10px;
        font-size: 16px;
        font-weight: 400;
        border-radius: 5px;
        transition: all .3s;

        &:active{
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}

/* Dispositivos medianos (tabletas en modo vertical, teléfonos móviles en modo horizontal) */
@media (min-width: 601px) and (max-width: 992px) {
    .nav_bar{
        width: 100%;
        height: 85px;
        margin: 0;
        padding: .5rem 1.5rem;
        border-radius: 15px;
    }

    .texto_h1,.texto_h5{
        color: rgb(26, 26, 26);
    }
    .nav_logo{
        width: 80%;
        gap: .7rem;
    }
    .logo_img{
        width: 54px;
        aspect-ratio: 1/1;
        border-radius: 0;
    }
}



