.contenedor_admin{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.admin_main{
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    align-self: stretch;
}

.main_panel_lateral{
    width: 16%;
    height: 100%;
    overflow-y:auto;
    padding: 2rem .5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    background-color: rgb(255, 255, 255);
}
.main_panel_alumno{
    width: 20%;
    height: 100%;
    overflow-y:auto;
    padding: 2rem .5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    background-color: rgb(255, 255, 255);
}

.main_panel_central{
    width: 64%;
    height: 100dvh;
    padding: 20px;
    overflow-Y: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: rgb(178, 198, 199);
}
.tarjeta_alumno_central{
    width: 100%;
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(241, 238, 234);
}
.section_alumno_datos_central{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alumno_img_central{
    width: 128px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.section_alumno_cuenta_central{
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}







.izq_boton{
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(46, 46, 46);
    color: white;
    box-shadow: 3px 3px 7px 1px rgb(41, 41, 41);

    border: none;
    border-radius: 10px;

    transition:all .2s linear;
    box-shadow: 3px 3px 7px 1px rgb(41, 41, 41);

    &:hover{
        border: 1px solid white;
        cursor: pointer;
        box-shadow: inset 0 0 7px 2px rgb(255, 255, 255);
        transform: scale(1.08);
    }
}

.tarjeta_alumno{
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(248, 229, 209);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.section_alumno_datos{
    width: 100%;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.alumno_img{
    width: 65px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}
.alumno_h4{
    font-size: 14px;
}
.alumno_h5{
    font-size: 12px;
}
.section_alumno_cuenta{
    width: 100%;
}
.cuenta_p{
    font-size: 12px;
    font-weight: 500;
}


.lista_admin{
    width: 100%;
    height: 100px;
    padding: 0px 0px 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.lista_admin_elemento{
    padding: 2px 10px;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    transition: all .2s;
    text-overflow: ellipsis ;
    text-wrap: nowrap;

    &:hover{
        background-color: rgb(37, 37, 37);
        color: white;
        cursor: pointer;
        transform: scale(1.1) ;
        margin: 2px 0;
    }
}